/* Reset básico */
 
  
  /* Estilo do corpo */
  body { 
    background-color: #f2f2ff;
    color: #333; 
  }
  
  
 
 
  /* Main content */
  main {
    padding: 20px;
  }
  
  .question-card {
    background: #121212;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 660px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .question-card h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .question-card .statement {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }

  .question-card label {
    width: 100%;    
  }
  
  .option {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .resolve {  
    width: 150px;
    right: 0;
    background: #84a0ad; 
    padding: 14px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
  }
   
#option-cont{
  & > label{
    width: 300px!important;
  }
}
  
