#Documento-cont {
    
    margin: 10px auto;
    width: calc(85vw - 32px - 40px);
    max-width: calc(980px - 32px - 40px);
    & > a { 
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
