header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

#marca-container {
    background: linear-gradient(to right, #efa571, #bb6c3b);
    font-size: 20px;
}

#marca {
    display: flex;
    height: 80px;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;

    place-items: center;
    justify-content: space-between;

    & .item {
        transition: 100ms;
        border-radius: 12px;
        padding: 7px 10px;
        text-align: center;
        cursor: pointer;
        user-select: none; /* For Chrome and Opera */
        -ms-user-select: none; /* For Internet Edge and Explorer*/
        -webkit-user-select: none; /* For Safari */
        -moz-user-select: none; /* For Firefox */
        -khtml-user-select: none; /* Konqueror HTML */
    }
    & .item:hover {
        background-color: #3e5e6b;
    }
}

#fdp {
    height: 50px;

    & #logo {
        height: 100%;
    }
}
#usrIcon{
    height: 35px;
    border-radius: 50%;
}
/*#menu-container {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

 #menu {
    background-color: #303030;
    border-radius: 0 0 5px 5px;
    padding: 0;
} */

@media (max-width: 810px) {
    #logo {
        content: url("src/assets/logo_square.png");
    }
}

@media (max-width: 660px) {
    #marca div {
        display: none;
    }
}

/*isso aqui é pro menu


@media (max-width: 500px) {
    .item span {
        display: none;
    }
}

@media (min-width: 500px) {
    .item {
        width: 120px;
    }
    .item span {
        display: unset;
    }
    .item .MuiSvgIcon-root {
        display: none;
    }
} */
