header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

#marca-container {
    background: linear-gradient(to right, #efa571, #bb6c3b);
    font-size: 20px;
}

#marca {
    color: white;
    display: flex;
    height: 80px;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;

    place-items: center;
    justify-content: space-between;

    & .item {
        transition: 100ms;
        border-radius: 12px;
        padding: 7px 10px;
        text-align: center;
        cursor: pointer;
        user-select: none; /* For Chrome and Opera */
        -ms-user-select: none; /* For Internet Edge and Explorer*/
        -webkit-user-select: none; /* For Safari */
        -moz-user-select: none; /* For Firefox */
        -khtml-user-select: none; /* Konqueror HTML */
    }
    & .item:hover {
        background-color: #3e5e6b;
    }
    & #right {
        display: flex;
        place-items: center;
    }
}

#fdp {
    height: 50px;

    & #logo {
        height: 100%;
    }
}
#usrIcon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 860px) {
    #logo {
        content: url("../../assets/logo_square.png");
    }
}

@media (max-width: 660px) {
    #marca > div {
        display: none;
    }
}

#hamburguer_menu {
    margin-left: 10px;
    display: none;
    visibility: hidden;
}

@media (max-width: 660px) {
    #right > #hamburguer_menu {
        display: flex;
        visibility: visible;
    }
}
/*teeeeeeeeeeeeeste*/
/* 
.hamburger-menu {
    display: none;
    visibility: hidden;
}

#menu__toggle {
    display: none;
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    margin-top: 10px;
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(-90deg);
}

#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}

.menu__btn {
    display: flex;
    justify-content: space-between;
    width: 30px;
    height: 23px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #d6d6d6;
    transition-duration: 0.3s;
}

.menu__btn > span::before {
    content: "";
    top: 10px;
}

.menu__btn > span::after {
    content: "";
    top: 20px;
}
.menu__btn:hover > span,
.menu__btn:hover > span::before,
.menu__btn:hover > span::after {
    background-color: #ffffff;
}
@media (max-width: 660px) {
    .hamburger-menu {
        display: unset;
        visibility: visible;
    }
}
    */
/*#menu-container {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

 #menu {
    background-color: #303030;
    border-radius: 0 0 5px 5px;
    padding: 0;
} */
/*isso aqui é pro menu


@media (max-width: 500px) {
    .item span {
        display: none;
    }
}

@media (min-width: 500px) {
    .item {
        width: 120px;
    }
    .item span {
        display: unset;
    }
    .item .MuiSvgIcon-root {
        display: none;
    }
} */
