 #cursos{
    & #pesquisa {
        align-self: start;
        display: flex;

        & input {
            margin-right: 14px;
            padding: 8px 12px;
            font-size: large;
            border-radius: 30px;
            background-color: #035a86 ;
            /* background: linear-gradient(to right, #f39b5b, #bb6c3b); */ 
            border: none;
        }
    }

    & #search {
        background-color: #035a86; 
        color: white;
        border-radius: 50%;
        width: 36px;
        height: 36px; 
        padding: 6px;
    }
 }
.swiper {
    border-radius: 25px;
}

.swiper-slide {
    width: fit-content;
} 