#Concurso-cont {
    align-items: center;
    border-radius: 15px;
    color: white;
    background-color: #53555d;
}

#Concurso {
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 8px;
    border-radius: 15px;

    & > label {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.205);
        border-radius: 15px;
        min-width: 74px;
        height: 74px;
        margin-right: 6px;
    }

    & #image {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 74px;
        max-width: 74px;
        margin-right: 6px;

        object-fit: cover;
        border-radius: 15px;
    }
    & #content {
        flex: 1 1 100%;
        width: 50%;
        /* width: calc(95vw - 8px - 80px - 40px); */
    } 
    & #end {
        max-width: 40px;
        width: 100%;
    }
}

#infos {
    display: flex;
    justify-content: space-between;

    & > .aoi { 
        flex: 1;
        min-width: 0;
    }

    & > .aoi:last-child {
        flex: unset;
        width: max-content;
        min-width: 0;
    }
}

#Editinfos{
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    #infos {
        flex-direction: column;
    }
}

#coll #teste {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    place-self: center;
}

#addfiles {
    display: flex;
    width: 100%;
    justify-content: end;

    & .MuiIconButton-root {
        height: fit-content;
    }
}

#balala {
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    width: 90%;
}

/* .MuiCollapse-wrapperInner{
    display: flex;
    flex-direction: column;
    place-items: center;
} */
