#App {
    position: relative;
    min-height: 100vh; /*def: 120px*/ 
    padding: 80px 0 40px 0; /* +40px top pro menu, default: 80px*/
    /* min-height: calc(100vh - 160px); */
}

.cont {
    /* position: relative; */
    max-width: 1280px;
    width: 95%;

    margin: 15px auto;
}
